<template>
    <div>
        <Toolbar :toggle="toggleDrawer" />
        <v-navigation-drawer
            v-model="drawer"
            left
            app>
            <!-- Logo -->
            <v-list-item>
                <v-list-item-content>
                    <v-img class="pa-5" :src="kidim" contain width="200"></v-img>
                    <!-- <v-divider></v-divider> -->
                </v-list-item-content>
            </v-list-item>
            <!-- content -->
            <v-list class="fill-height">
                <v-list-item
                    v-for="item in navItems"
                    :key="item.to"
                    :to="item.to"
                    :active-class="`${item.color}--text`"
                    :disabled="!item.available"
                    nav>
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <template v-slot:append>
                <div class="pa-4">
                    <v-btn block color="primary" dark @click="logoutFunction" id="button">Logout</v-btn>
                </div>
            </template>
        </v-navigation-drawer>
    </div>
</template>

<script>
import Toolbar from '@/components/toolbar/Toolbar.vue'
export default {
    props: [
        "logoutFunction",
    ],
    components: {
        Toolbar
    },
    data(){
        return {
            kidim: require('@/static/images/kidim.svg'),
            navItems : [
                {
                    icon : "mdi-home",
                    color: "red",
                    title : "Home",
                    to : "/",
                    available: true
                },
                {
                    icon : "dashboard",
                    color: "dashboard",
                    title : "Dashboard",
                    to : "dashboard",
                    available: true
                },
                {
                    icon : "menu_book",
                    color: "menu",
                    title : "Menu",
                    to : "Menu",
                    available: true
                },
                {
                    icon : "mdi-office-building",
                    color: "profile",
                    title : "Profile",
                    to : "profile",
                    available: true
                },
                {
                    icon : "mdi-history",
                    color: "history",
                    title : "History",
                    to : "history",
                    available: true
                },
                {
                    icon : "mdi-cogs",
                    color: "settings",
                    title : "Settings",
                    to : "settings",
                    available: true
                }
            ],
            drawer: true,
        }
    },
    computed: {
        mini() {
            return this.$vuetify.breakpoint.mdAndDown;
        },
    },
    methods: {
        toggleDrawer() {
            this.drawer = !this.drawer
        }
    }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
    #button {
        font-family: 'IBM Plex Serif';
        font-size: 1.2em;
    }
</style>
