<template>
  <v-navigation-drawer
    width="450"
    app
    permanent
  >
    <div style="height: 25%" />
    <v-list>
      <!-- Kidim logo -->
      <v-list-item>
        <v-img :src="images.kidim" contain></v-img>
      </v-list-item>
      <!-- login message -->
      <v-list-item class="mt-5 display-1">
        <v-row justify="center">
          <v-col id="loginMessage" class="text-center">
            Enter Your Login
          </v-col>
        </v-row>
      </v-list-item>
      <!-- alert when login fails -->
      <v-list-item v-if="loginFailed">
        <v-alert
          class="mx-3"
          dense
          border="left"
          type="error"
        >
          {{alertText}}
        </v-alert>
      </v-list-item>
      <!-- begining of the form -->
      <v-form ref="form">
        <v-list-item>
          <v-text-field
            v-model="username"
            label="Login"
            name="login"
            :rules="[v => !!v || 'Name is required']"
            required
            prepend-icon="person"
            type="text"
            class="mt-5 mx-5"
          >
          </v-text-field>
        </v-list-item>

        <v-list-item>
          <v-text-field
            v-model="password"
            id="password"
            label="Password"
            name="password"
            :rules="[v => !!v || 'Name is required']"
            required
            prepend-icon="lock"
            type="password"
            class="mx-5"
          >
          </v-text-field>
        </v-list-item>
        <!-- submit form -->
        <v-list-item class="mt-5">
          <v-row justify="center">
            <v-col md="8">
              <v-btn
                @click="login"
                style="width: 75%;"
                id="button"
                dark color="primary"
                width="200px">
                Login
              </v-btn>
            </v-col>
          </v-row>
        </v-list-item>
      </v-form>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  import Vue from 'vue'
  import {mapMutations} from 'vuex'

  export default {
    layout: 'login',
    data() {
      return {
        images: {
          kidim: require('@/static/images/kidim.svg'),
        },
        username: "",
        password: "",
        loginFailed: false,
        alertText: "Login failed please check credentials"
      }
    },
    methods: {
      ...mapMutations('menu', {
        clearMenu: 'clearAll'
      }),

      ...mapMutations('category', {
        clearCategory: 'clearAll'
      }),

      ...mapMutations('options', {
        clearOptions: 'clearAll'
      }),

      ...mapMutations('place', {
        clearPlace: 'clearAll'
      }),

      ...mapMutations('orders', {
        clearOrders: 'clearAll'
      }),

      login: function(){
        if (this.$refs.form.validate()){
          this.$store.dispatch('auth/authenticate', {
            strategy: "local",
            username: this.username,
            password: this.password,
          })
          .then(() => {
              this.clearMenu()
              this.clearCategory()
              this.clearOptions()
              this.clearPlace()
              this.clearOrders()
              this.$router.push("/")
          })
          .catch((error) => {
              this.loginFailed = true
              console.log(error)
          })
        }
      }
    }
  }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
  #loginMessage {
    font-family: 'IBM Plex Serif';
    font-weight: bold;
    color: #ff3333;
  }

  #button {
    font-family: 'IBM Plex Serif';
    color: white;
    font-size: 1.5em;
  }
</style>
