<template>
  <v-card :color="color" dark @click="$router.push(to)">
    <v-row justify="center">
      <v-col xs="12" md=10 lg="7" xl="5">
        <v-img
          :src="require(`@/static/images/${src}`)"
          style="width: 100%"
        />
      </v-col>
    </v-row>
    <v-card-title id="button">
      {{title}}
    </v-card-title>
  </v-card>
</template>

<script>
  export default {
    props: ['title', 'color', 'src', 'to'],
    computed: {
      backgroundImage() {
        return require(this.src.toString())
      }
    }
  }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
    #button {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }
</style>
