<template>
  <div />
</template>

<script>
import {mapMutations} from 'vuex'
export default {
  mounted() {
    this.$store.dispatch('auth/logout').then(
      () => {
        this.clearMenu()
        this.clearCategory()
        this.clearOptions()
        this.clearPlace()
        this.clearOrders()
        this.$router.push("/login")
      }
    )
  },

  methods: {
    ...mapMutations('menu', {
      clearMenu: 'clearAll'
    }),

    ...mapMutations('category', {
      clearCategory: 'clearAll'
    }),

    ...mapMutations('options', {
      clearOptions: 'clearAll'
    }),

    ...mapMutations('place', {
      clearPlace: 'clearAll'
    }),

    ...mapMutations('orders', {
      clearOrders: 'clearAll'
    }),
  }
}
</script>
