<template>
    <v-card>
        <v-card-title id="title">
            {{title}}
        </v-card-title>
        <Top3 v-if="type == 'top3' && condition" :rawData="rawData"></Top3>
        <OrderCount v-if="type == 'orderCount' && condition" :rawData="rawData" :period="period"></OrderCount>
        <WeekCount v-if="type == 'weekCount' && condition" :rawData="rawData" :period="period"></WeekCount>
    </v-card>
</template>

<script>
    import OrderCount from './OrderCount30Days.vue'
    import Top3 from './Top3Choices.vue'
    import WeekCount from './OrderCountWeekDay'
    export default {
        props: [
            "title",
            "condition",
            "rawData",
            "period",
            "type"
        ],
        components: {
            OrderCount,
            Top3,
            WeekCount
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
    #title {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }
</style>
