<template>
  <v-form ref="form">
    <!-- succeed update snackbar -->
    <v-snackbar
      v-model="updateSuccess"
      :timeout="timeout"
      color="success"
    >
      {{ messageSuccess }}
    </v-snackbar>

    <!-- Error update snackbar -->
    <v-snackbar
      v-model="updateFailed"
      :timeout="timeout"
      color="error"
    >
      {{ messageFailed }}
    </v-snackbar>

    <!-- form -->
    <v-container>
      <v-row justify="center" align="center" style="margin-top: 5%">
        <v-col md="8">
          <v-card class="pa-10">
            <!-- title of the card -->
            <v-card-title id="title">
              User profile
            </v-card-title>

            <v-text-field
              label="Name"
              v-model="getPlaceFromStore && getPlaceFromStore.name"
              :rules="nameRules"
              required
            />

            <v-text-field
              label="Currency"
              v-model="getPlaceFromStore && getPlaceFromStore.currency"
              :rules="nameRules"
              required
            />

            <v-text-field
              label="Address"
              v-model="getPlaceFromStore && getPlaceFromStore.address"
              :rules="nameRules"
              required

            />

            <v-text-field
              label="Phone"
              v-model="getPlaceFromStore && getPlaceFromStore.phone"
              :rules="nameRules"
              required
            />

            <v-text-field
              label="Email"
              v-model="getPlaceFromStore && getPlaceFromStore.email"
              :rules="nameRules"
              required
            />

            <v-card-actions>
              <v-spacer />
              <v-btn id="button" outlined color="secondary" @click="updatePlace">Update</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
  data:() => ({
    updateFailed: false,
    updateSuccess: false,
    messageSuccess: "Updated SuccessFully",
    messageFailed: "Error while updating please retry",
    timeout: 2000,
    nameRules: [
      v => !!v || 'This field is required',
    ],
  }),
  mounted(){
    this.$store.dispatch('auth/authenticate')
      .then(
          (response) => {
            //debugger//eslint-disable-line
            const user = response.user;
            this.findPlace({ query: { _id: user.placeId } })
          }
      )
  },
  computed: {
    ...mapGetters('place', {findPlaceFromStore: 'find'}),
    getPlaceFromStore() {
      const response = this.findPlaceFromStore({ query: {} }).data
      return response && response[0]
    }
  },
  methods: {
    ...mapActions('place', {findPlace: 'find'}),
    updatePlace() {
      if(this.$refs.form.validate()) {
        const { Place } = this.$FeathersVuex.api
        const place = new Place(this.getPlaceFromStore)
        place.update()
        .then(
          () => {
            this.updateSuccess = true
          }
        )
        .catch(
          (err) => {
            console.log(err)
            this.updateFailed = true
          }
        )
      }
    }
  }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
    #title {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }
    #button {
        font-family: 'IBM Plex Serif';
        font-size: 1.1em;
    }
</style>
