<template>
  <v-app id="kidimDefault">
    <NavigationBar
      :drawer="drawer"
      :logoutFunction="logout" />
    <v-content>
      <v-container>
        <nuxt/>
      </v-container>
    </v-content>
    <v-footer
      :fixed="fixed"
      app>
        <span>
          &copy; Matrade Soft Inc. 2019 - 2020
        </span>
    </v-footer>
  </v-app>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import IdleVue from 'idle-vue'
import NavigationBar from '@/components/navigationDrawer/Nav.vue'
import {mapMutations} from 'vuex'

const eventsHub = new Vue()

//Idle will trigger after 2 hours of inc=activity
Vue.use(IdleVue, {
  eventEmitter: eventsHub,
  idleTime: 7200000,
})

export default {
  components:{
    NavigationBar
  },
  head(){
    return {
      title: "Kidim",
    }
  },
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      user: {},
      items: [
        {
          id: 0,
          icon: 'exit_to_app',
          title: 'Logout',
          to: '/'
        },
      ],
      miniVariant: false,
      right: true,
      drawer: true,
    }
  },
  mounted() {
    this.$store.dispatch('auth/authenticate')
    .catch(
      (err) => {
        this.$router.push('/login');
        console.log(err)
      }
    )
  },
  /**on idle is the function called when the state of the page is inactive */
  onIdle() {
    this.logout()
  },
  methods: {
    ...mapMutations('menu', {
      clearMenu: 'clearAll'
    }),

    ...mapMutations('category', {
      clearCategory: 'clearAll'
    }),

    ...mapMutations('options', {
      clearOptions: 'clearAll'
    }),

    ...mapMutations('place', {
      clearPlace: 'clearAll'
    }),

    ...mapMutations('orders', {
      clearOrders: 'clearAll'
    }),

    logout: function(){
      this.$store.dispatch('auth/logout').then(
        () => {
          this.clearMenu()
          this.clearCategory()
          this.clearOptions()
          this.clearPlace()
          this.clearOrders()
          this.$router.push("/login")
        }
      )
    }
  }
}
</script>
