<template>
  <v-app>
    <Toolbar />
    <v-content>
      <nuxt />
    </v-content>

    <v-footer
      fixed
      app
    >
      <span>&copy; Matrade Soft Inc. 2019 - 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import IdleVue from 'idle-vue'
import Toolbar from '@/components/toolbar/HomeToolbar.vue'
import {mapMutations} from 'vuex'

const eventsHub = new Vue()

export default {
  components:{
    Toolbar,
  },
  head(){
    return {
      title: "Kidim",
    }
  },

  mounted() {
    this.$store.dispatch('auth/authenticate')
    .catch(
      (err) => {
        this.$router.push('/login');
        console.log(err)
      }
    )
  },
  /**on idle is the function called when the state of the page is inactive */
  onIdle() {
    this.logout()
  },
  methods: {
    ...mapMutations('menu', {
      clearMenu: 'clearAll'
    }),

    ...mapMutations('category', {
      clearCategory: 'clearAll'
    }),

    ...mapMutations('options', {
      clearOptions: 'clearAll'
    }),

    ...mapMutations('place', {
      clearPlace: 'clearAll'
    }),

    ...mapMutations('orders', {
      clearOrders: 'clearAll'
    }),

    logout: function(){
      this.$store.dispatch('auth/logout').then(
        () => {
          this.clearMenu()
          this.clearCategory()
          this.clearOptions()
          this.clearPlace()
          this.clearOrders()
          this.$router.push("/login")
        }
      )
    },
  }
}
</script>
