<template>
  <v-app id="kidimBlank">
    <v-content>
      <nuxt />
    </v-content>

    <v-footer
      fixed
      app
    >
      <span>&copy; Matrade Soft Inc. 2019 - 2020</span>
    </v-footer>
  </v-app>
</template>

<style>
  #kidimBlank{
    background: #FFF3E0;
    background-image: url('../static/images/backgroundLogin.jpg');
    background-size: 100% 100%;
  }
</style>


<script>
export default {
  head(){
    return {
      title: "Kidim",
    }
  },
  mounted() {
    this.$store.dispatch('auth/authenticate')
    .then(
      () => {
        this.$router.push('/');
      }
    )
  },
}
</script>
