<template>
    <div >
        <v-btn @click="changeLanguage"
            color="primary"
            fab
            dark
            fixed
            bottom
            right
        >
            <v-icon large>mdi-web</v-icon>
        </v-btn>
        <div id="title">
            {{`Menu in ${getLanguageName}`}}
        </div>
        <v-col v-for="(item, key) in getCategories" v-bind:key="key">
            <v-card  class="my-0" shaped>
                <v-card-title id="category">
                    {{item.name}}
                </v-card-title>
                <ul id="menuListing">
                    <li v-for="(menuItem, menuKey) in getSubmenu(item.name)" v-bind:key="menuKey" style="list-style-type: none">
                        <v-row>
                            <v-col md="9" align-self="center" id="name">
                                {{ menuItem.name }}
                            </v-col>
                            <v-row justify="end">
                                <v-col md="4" offset="1" class="headline tertiary--text" align-self="center" >
                                    {{"$ "+ ("0" + menuItem.price).slice(-2)}}
                                </v-col>
                            </v-row>
                        </v-row>
                    </li>
                </ul>
            </v-card>
        </v-col>
    </div>
</template>

<script>
import Vue from 'vue'
import VueAxios from 'vue-axios'
import { mapGetters, mapActions } from "vuex";
import {getTheMenu} from '@/api/ipage.js'


export default {
    data(){
        return{
            menu: [],
            dialog: false,
            idMealSelected: "",
            nameSelected: "",
            language: "en",
        }
    },
    mounted(){
        //call menu form server

        this.$store.dispatch('auth/authenticate')
        .then(
            (response) => {
                //debugger//eslint-disable-line
                const user = response.user;
                this.findCategory({ query: { placeId: user.placeId} })
                this.findMenu({ query: { placeId: user.placeId} })
            }
        )
    },
    computed: {
        ...mapGetters("category", { findCategoryInStore: "find" }),
        ...mapGetters("menu", { findMenuInStore: "find" }),

        getCategories() {
            const categoryList = this.findCategoryInStore({ query: { language : this.language } }).data;
            return categoryList;
        },

        getMenu() {
            const menuList = this.findMenuInStore({ query: {} }).data;
            return menuList;
        },

        getLanguageName() {
            let result;
            switch(this.language){
                case 'fr' :
                    result = "french";
                    break;
                default:
                    result = "english"
            }
            return result;
        }
    },
    methods:{
        ...mapActions("category", { findCategory: "find" }),
        ...mapActions("menu", { findMenu: "find" }),

        changeLanguage(){
            this.language = this.language === "en" ? "fr" : "en";
        },

        //fucntion called if the user tries to change the stocks
        //todo
        getSubmenu(category) {
            const result = _.filter(this.getMenu, item => {
                return item.category === category
            })
            console.log(result)
            return result;
        },

        openStockPopup: function(idMeal, name){
            this.idMealSelected = idMeal
            this.nameSelected = name
            this.dialog = true
        },
    }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

    #category {
        font-family: 'IBM Plex Serif';
        font-size: 3em;
        color: #7D3802;
    }

    #name {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }

    #title {
        font-family: 'IBM Plex Serif';
        font-size: 4em;
    }
</style>
