<template>
  <v-container class="fill-height">
    <v-row>
      <v-col v-for="(item, key) in cards" :key="key" md="4" sm="6" lg="4" xl="4" cols="12">
        <HomeItem :title="item.title"
          :src="item.src"
          :icon="item.icon"
          :to="item.to"
          :color="item.color"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import HomeItem from '@/components/home/Item.vue'
export default {
  layout: 'home',
  components: {
    HomeItem
  },
  data:() => ({
    cards : [
      {
        color : "dashboard",
        src: "bar-graph.svg",
        title : "Dashboard",
        to : "dashboard",
      },
      {
        color : "menu",
        src: "restaurant-menu.svg",
        title : "Menu",
        to : "Menu",
      },
      {
        color : "profile",
        src: "business-center.svg",
        title : "Profile",
        to : "profile",
      },
      {
        color : "history",
        src: "history.svg",
        title : "History",
        to : "history",
      },
      {
        color : "settings",
        src: "gear.svg",
        title : "Settings",
        to : "settings",
      },
      {
        color : "logout",
        src: "logout.svg",
        title : "Logout",
        to : "logout",
      }
    ],
  })
}
</script>
