<template>
  <v-form ref="form">
    <!-- succeed update snackbar -->
    <v-snackbar
      v-model="updateSuccess"
      :timeout="timeout"
      color="success"
    >
      {{ messageSuccess }}
    </v-snackbar>

    <!-- Error update snackbar -->
    <v-snackbar
      v-model="updateFailed"
      :timeout="timeout"
      color="error"
    >
      {{ messageFailed }}
    </v-snackbar>

    <!-- form -->
    <v-container>
      <v-row justify="center" align="center" style="margin-top: 5%">
        <v-col md="8">
          <v-card class="pa-10">

            <!-- title of the card -->
            <v-card-title id="title">
              Settings
            </v-card-title>

            <v-text-field
              label="Period"
              v-model="getOptionFromStore && getOptionFromStore.period"
              :rules="nameRules"
              type="numeric"
              required
            />

            <v-select
              label="Dashboard Items"
              v-model="getOptionFromStore && getOptionFromStore.dashboard"
              :rules="nameRules"
              :items="items"
              required
              chips
              multiple
            />

            <v-card-actions>
              <v-spacer />
              <v-btn id="button" outlined color="secondary" @click="updateOptions">Update</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
  data:() => ({
    updateFailed: false,
    updateSuccess: false,
    messageSuccess: "Updated SuccessFully",
    messageFailed: "Error while updating please retry",
    timeout: 2000,
    userId: null,
    nameRules: [
      v => !!v || 'This field is required',
    ],
    items: [
      {
        text: "Earnings",
        value: 1
      },
      {
        text: "Orders Received",
        value: 2
      },
      {
        text: "3 Most Selected meals",
        value: 3
      },
      {
        text: "Orders Per Day",
        value: 4
      },
      {
        text: "Orders Per Week",
        value: 5
      },
    ]
  }),
  mounted(){
    this.$store.dispatch('auth/authenticate')
    .then(
      (response) => {
        this.userId = response.user.placeId;
        this.findOption({ query: { placeId: this.userId } })
      }
    )
  },
  computed: {
    ...mapGetters('options', {findOptionFromStore: 'find'}),
    getOptionFromStore() {
      const response = this.findOptionFromStore({ query: { placeId: this.userId } }).data
      return response && response[0]
    }
  },
  methods: {
    ...mapActions('options', {findOption: 'find'}),
    updateOptions() {
      if(this.$refs.form.validate()) {
        const { Option } = this.$FeathersVuex.api
        const option = new Option(this.getOptionFromStore)
        option.update()
        .then(
          () => {
            this.updateSuccess = true
          }
        )
        .catch(
          (err) => {
            console.log(err)
            this.updateFailed = true
          }
        )
      }
    }
  }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
    #title {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }
    #button {
        font-family: 'IBM Plex Serif';
        font-size: 1.1em;
    }
</style>
