<template>
  <v-app-bar
    class="elevation-0"
    color="white"
    height="150"
    fixed
    app>
    <v-toolbar-items>
      <v-img :src="kidim" contain height="200" style="height: 150px"></v-img>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
export default {
  data:() => ({
    kidim: require('@/static/images/kidim.svg'),
  })
}
</script>
