<template>
    <v-app-bar
      class="elevation-0"
      color="transparent"
      fixed
      app>
      <v-app-bar-nav-icon class="hidden-md-and-up" @click="toggle"/>
    </v-app-bar>
</template>

<script>
import axios from 'axios'
import VueAxios from 'vue-axios'
import { mapGetters } from 'vuex'
import Vue from 'vue'

Vue.use(VueAxios, axios)

export default {
    props: [
        "clipped", "toggle"
    ],
    data(){
        return {
            title: "Kidim Statistics",
            placeInfo: {},
            dialog: false,
            url: 'https://www.hkmanager.com/orderapp/kidim/webServices/restaurant/get_restaurant_infos.php',
        }
    },
}
</script>
