<template>
    <v-container>
      <v-row align="center">
          <v-col xs="12" sm="12" md="4" v-if="getOptions
            && (getOptions.dashboard.includes(1)
            || getOptions.dashboard.includes(2))">
              <v-col v-if="getOptions && getOptions.dashboard.includes(1)">
                  <Numeric
                    title="Earnings"
                    :value="`$ ${getTotalPrice}`"
                    :condition="getOrders && getOrders.length > 0">
                  </Numeric>
              </v-col>
              <v-col v-if="getOptions && getOptions.dashboard.includes(2)">
                  <Numeric
                    title="Orders Received"
                    :value="getOrderCount"
                    :condition="getOrders && getOrders.length > 0">
                  </Numeric>
              </v-col>
          </v-col>
          <v-col
            sm="12" offset-sm="0"
            xs="12" offset-xs="0"
            :md="(!getOptions.dashboard.includes(1) && !getOptions.dashboard.includes(2)) ? 12 : 7"
            :offset-md="(!getOptions.dashboard.includes(1) && !getOptions.dashboard.includes(2)) ? 0 : 1"
            v-if="getOptions && getOptions.dashboard.includes(3)">
              <GraphHolder
                title="3 Most Selected Meals"
                :condition="getOrders && getOrders.length > 0"
                :period="this.getOptions && this.getOptions.period"
                :rawData="getTop3"
                type="top3">
              </GraphHolder>
          </v-col>
      </v-row>
      <v-row>
          <v-col v-if="getOptions && getOptions.dashboard.includes(4)">
              <GraphHolder
                title="Orders per Day "
                :condition="getOrdersPeriod && getOrdersPeriod.length > 0"
                :period="this.getOptions && this.getOptions.period"
                :rawData="getOrdersPeriod"
                type="orderCount">
              </GraphHolder>
          </v-col>
      </v-row>
      <v-row>
          <v-col v-if="getOptions && getOptions.dashboard.includes(5)">
              <GraphHolder
                title="Orders per Week"
                :condition="getOrdersPeriod && getOrdersPeriod.length > 0"
                :period="period"
                :rawData="getOrdersPeriod"
                type="weekCount">
              </GraphHolder>
          </v-col>
      </v-row>
  </v-container>
</template>

<script>
    import GraphHolder from '@/components/graphs/GraphHolder.vue'
    import Numeric from '@/components/numerics/Numeric.vue'
    import VueMoment from 'vue-moment'
    import moment from 'moment'
    import Vue from 'vue'
    import { mapGetters, mapActions } from 'vuex'
    import {getPeriodData} from '@/api/ipage.js'

    Vue.use(require('moment'))
    Vue.use(require('vue-moment'))

    export default {
        components: {
            GraphHolder,
            Numeric
        },
        data(){
            return {
                period: 90
            }
        },
        mounted(){
            //console.log(this.getUser.placeId)
            //call the methods that will get the info from the server
            this.$store.dispatch('auth/authenticate')
            .then(
                (response) => {
                    const fromDate = moment().subtract(this.period, 'days').format('YYYY-MM-DDTHH:mm:ss.000+00:00')
                    const toDate = moment().format('YYYY-MM-DDTHH:mm:ss.000+00:00')
                    const user = response.user;
                    this.findOrder({
                      query: {
                        placeId: user.placeId,
                        createdAt: {
                          $gt: new Date(fromDate),
                          $lte: new Date(toDate),
                        }
                      }
                    })
                    this.findOption({ query: { placeId: user.placeId } })
                    this.findOrder({ query: { placeId: user.placeId } })
                }
            )
        },
        computed: {
          ...mapGetters('auth', { getUser: 'user' }),
          ...mapGetters('orders', { findOrderFromStore : 'find' }),
          ...mapGetters('options', { findOptionFromStore : 'find' }),

          // get options of the user
          getOptions() {
            const result = this.findOptionFromStore({
                query: {}
            }).data
            return result[0]
          },
          // getOrders will fetch all the orders councern by the page
          getOrdersEntry() {
            const fromDate = moment().subtract(this.getOptions && this.getOptions.period, 'days').format('YYYY-MM-DDTHH:mm:ss.000+00:00')
            const toDate = moment().format('YYYY-MM-DDTHH:mm:ss.000+00:00')
            const result = this.findOrderFromStore({
                query: {
                  createdAt: {
                    $gt: fromDate,
                  }
                }
            }).data
            return result
          },
          getOrders() {
            const ordersFromStore = this.getOrdersEntry
            const ordersArray = _.map(ordersFromStore,
              (x) => {
                return _.map(x.order,
                  (anOrder) => {
                    return {
                      ...anOrder,
                      date: moment(
                        x.createdAt,
                        'YYYY-MM-DD[T00:00:00.000Z]'
                      ).format('MM/DD/YYYY'),
                    }
                  }
                )
              }
            )
            let result = []
            const orders = _.flatten(_.concat(result, ordersArray))
            return orders
          },
          getOrdersPeriod(){
            const sortedByRecurence = _.countBy(this.getOrders, (x) => x.date)
            const sortedArray = this.convertToArray(sortedByRecurence)
            return sortedArray
          },

          // get the total count of the orders on the period
          getOrderCount() {
              return this.getOrders && this.getOrders.length
          },

          // get top 3
          getTop3() {
              const sortedByRecurence = _.countBy(this.getOrders, (x) => x.name)
              const sortedArray = this.convertToArray(sortedByRecurence)
              return sortedArray.slice(-3)
          },

          // Get total money earn during period
          getTotalPrice() {
              const pricesArray = _.map(this.getOrders, (x) => x.price)
              const result = _.reduce(pricesArray,(sum, n) => sum + parseInt(n), 0)
              return result
          },
        },
        methods: {
          //check ...mapActions to get actions from store
          //get the number of order received
          ...mapActions('orders', { findOrder : 'find' }),
          ...mapActions('options', { findOption : 'find' }),

          convertToArray(orderByRecurence) {
            // get the list of all the recurrences
            const orderByRecurenceInArray = Object.entries(orderByRecurence)

            // convert to object array
            let mappedOrderByRecurenceInArray = _.map(
              orderByRecurenceInArray, (value) => {
                return {
                  name: value[0],
                  value: value[1]
                }
              })

            // sort array
            const sortedOrderByRecurenceInArray = _.sortBy(
              orderByRecurenceInArray, ['value']
            )

            // convert sorted array
            mappedOrderByRecurenceInArray = _.map(
              sortedOrderByRecurenceInArray, (value) => {
                return {
                  name: value[0],
                  value: value[1]
                }
              })
            return mappedOrderByRecurenceInArray
          }

        }
    }
</script>
