<template>
    <v-card shaped>
        <v-card-title id="title">
            {{title}}
        </v-card-title>
        <p
            class="display-4 px-2 py-2 text-right"
            v-if="condition">
            {{value}}
        </p>
    </v-card>
</template>

<script>
export default {
    props: [
        "title",
        "value",
        "condition"
    ]
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
    #title {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }
</style>
