<template>
  <v-container>
    <v-row justify="center" align="center" style="margin-top: 5%">
      <v-col md="8">
        <v-card class="pa-10">
          <!-- title of the card -->
          <v-card-title id="title">
            History
          </v-card-title>
          <!-- Date -->
          <v-list>
            <v-list-item v-for="(item, key) in getDates" :key="key">
              <v-list-item-content>
                <p id="date">
                  {{item}}
                </p>
                <!-- content of each name -->
                <v-list>
                  <v-list-item v-for="(value, valuekey) in getValue[key]" :key="valuekey">
                    <v-row>
                      <v-col xs="4" sm="3" id="item">
                        {{ value.time}}
                      </v-col>
                      <v-col class="py-0">
                        <v-row>
                          <v-col xs="8" sm="9" id="item">
                            {{ value.name }}
                          </v-col>
                          <v-col xs="4" sm="3" id="item" class="text-right">
                            {{ `$ ${value.price}` }}
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-list-item>
                </v-list>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import Vue from 'vue'
import VueMoment from 'vue-moment'
import moment from 'moment'

Vue.use(require('moment'))
Vue.use(require('vue-moment'))

export default {
  data:() => ({
    period: 90
  }),
  mounted(){
    this.$store.dispatch('auth/authenticate')
      .then(
        (response) => {
          const fromDate = moment().subtract(this.period, 'days').format('YYYY-MM-DDTHH:mm:ss.000+00:00')
          const toDate = moment().format('YYYY-MM-DDTHH:mm:ss.000+00:00')
          const user = response.user;
          this.findOrder({
            query: {
              placeId: user.placeId,
              createdAt: {
                $gt: new Date(fromDate),
                $lte: new Date(toDate),
              }
            }
          })
          this.findOption({ query: { placeId: user.placeId } })
        }
      )
  },
  computed: {
    ...mapGetters('orders', {findOrderFromStore: 'find'}),
    ...mapGetters('options', { findOptionFromStore : 'find' }),

    // get options of the user
    // get options of the user
    getOptions() {
      const result = this.findOptionFromStore({
          query: {}
      }).data
      return result[0]
    },
    // getOrders will fetch all the orders councern by the page
    getOrdersEntry() {
      const fromDate = moment().subtract(this.getOptions && this.getOptions.period, 'days').format('YYYY-MM-DDTHH:mm:ss.000+00:00')
      const toDate = moment().format('YYYY-MM-DDTHH:mm:ss.000+00:00')
      const result = this.findOrderFromStore({
          query: {
            createdAt: {
              $gt: fromDate,
            }
          }
      }).data
      return result
    },
    getOrders() {
      const ordersFromStore = this.getOrdersEntry
      const ordersArray = _.map(ordersFromStore,
        (x) => {
          return _.map(x.order,
            (anOrder) => {
              return {
                ...anOrder,
                date: moment(
                  x.createdAt,
                  'YYYY-MM-DD[T00:00:00.000Z]'
                ).format('MM/DD/YYYY'),
              }
            }
          )
        }
      )
      let result = []
      const orders = _.flatten(_.concat(result, ordersArray))
      return orders
    },
    getOrdersPeriod(){
      const groupedByDate = _.groupBy(this.getOrders, (x) => x.date)
      return groupedByDate
    },
    getDates() {
      //debugger//eslint-disable-line
      const dates = Object.keys(this.getOrdersPeriod)
      return dates
    },
    getValue() {
      const value = Object.values(this.getOrdersPeriod)
      return value
    }
  },
  methods: {
    ...mapActions('orders', {findOrder: 'find'}),
    ...mapActions('options', { findOption : 'find' }),
    convertToArray(orderByRecurence) {
      // get the list of all the recurrences
      const orderByRecurenceInArray = Object.entries(orderByRecurence)

      // convert to object array
      let mappedOrderByRecurenceInArray = _.map(
        orderByRecurenceInArray, (value) => {
          return {
            name: value[0],
            value: value[1]
          }
        })

      // sort array
      const sortedOrderByRecurenceInArray = _.sortBy(
        orderByRecurenceInArray, ['value']
      )

      // convert sorted array
      mappedOrderByRecurenceInArray = _.map(
        sortedOrderByRecurenceInArray, (value) => {
          return {
            name: value[0],
            value: value[1]
          }
        })
      return mappedOrderByRecurenceInArray
    }
  }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
    #title {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }
    #date {
        font-family: 'IBM Plex Serif';
        font-size: 1.3em;
    }
    #item {
        font-family: 'IBM Plex Serif';
        font-size: 1.1em;
    }
</style>
